.tab-sld{
    .tit{
        border-top: 1px solid #ddd;
        background-color:#f5f5f5;
        color: #293c55;
        padding: 0;
        transition: 0.5s;
        font-size: 15px;
        padding:10px 16px;
        cursor: pointer;
        user-select: none;
    }
    .tab-body{
        .tab-wrap{
            margin:15px;
        }
        overflow: hidden;
        transition: all linear .35s;
        -webkit-transition: all linear .35s;
        -moz-transition: all linear .35s;
        -ms-transition: all linear .35s;
        -o-transition: all linear .35s;
        box-sizing: border-box;
}
}