@import './variable.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

ul, ol {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

a {
  text-decoration: none;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.github-link {
  color: white;
  width: 34px;
  height: 34px;
  line-height: 34px;
  display: block;
  float: right;
  margin-left: 48px;
  .iconfont {
    height: 29px;
    width: 29px;
    overflow: hidden;
    font-size: 28px;
  }
  .icon-gh {
    display: none;
  }
  .icon-gh-o {
    display: block;
  }
  &:hover {
    .icon-gh {
      display: block;
    }
    .icon-gh-o {
      display: none;
    }
  }
}

.page-language-switch {
  color: white;
  width: 34px;
  height: 34px;
  padding: 4px;
  display: block;
  float: right;
  margin-left: 24px;
  cursor: pointer;

  &::before {
    content: ' ';
    display: block;
    font-size: 14px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px solid white;
    border-radius: 29px;
    text-align: center;
  }
  &:hover {
    &::before {
      background: white;
      color: $secondary;
    }
  }
}

body {
  .page-language-switch {
    &::before { content: 'EN'; }
    &:hover::before { content: 'CN'; }
  }

  .demo-link::before { content: 'Demo' };
  .docs-link::before { content: 'Docs' };

  &.en {
    .page-language-switch {
      &::before { content: 'EN'; }
      &:hover::before { content: 'CN'; }
    }

    .demo-link::before { content: 'Demo' };
    .docs-link::before { content: 'Docs' };
  }
  &.cn {
    .page-language-switch {
      &::before { content: '中'; }
      &:hover::before { content: '英'; }
    }

    .demo-link::before { content: '案例' };
    .docs-link::before { content: '文档' };
  }
}
