@import '../styles/header.scss';
@import '../styles/common.scss';
@import '../styles/icon.scss';
@import '../styles/main.scss';
@import '../styles/nav.scss';

#main-content {
  .case-type {
    padding: 5px 10px;
    background: #fff;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .case-list {
    .case-box {
      margin-bottom: 10px;
      background: #fff;
      position: relative;
      transition: all .2s ease-in-out;

      .op {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;

        .index {
          font-size: 20px;
          line-height: 28px;
          color: #666;
          margin-right: 10px;
        }
        a {
          cursor: pointer;
          padding: 3px 16px;
          display: inline-block;
          background: $primary;
          border-radius: 4px;
          color: #fff;
          i {
            color: #fff;
          }
        }
      }
    }
    .case-demo,
    .case-code {
      display: inline-block;
      width: 48%;
      height: 400px;
      overflow: hidden;
      position: relative;
      padding: 15px;
      box-sizing: border-box;
      .case-code-detail {
        height: 340px;
        width: 100%;
        overflow-y: auto;
        position: relative;
        pre {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    .case-split {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 48%;
      border: 1px dashed #eee;
    }
  }
  .case-box.no-code {
    padding: 15px;
  }
}
