@import '../styles/header.scss';
@import '../styles/common.scss';
@import '../styles/icon.scss';
@import '../styles/main.scss';
@import '../styles/nav.scss';

#main-content {
  .case-type {
    background: #fff;
    color: #333;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
    width: 48%;
    position: absolute;
  }
  .case-list {
    .case-box {
      margin-bottom: 10px;
      background: #fff;
      position: relative;
      transition: all .2s ease-in-out;

      .op {
        position: absolute;
        top: 0;
        right: 30px;
        z-index: 11;

        .index {
          font-size: 20px;
          line-height: 28px;
          color: #666;
          margin-right: 10px;
        }
        a {
          cursor: pointer;
          padding: 3px 16px;
          display: inline-block;
          background: $primary;
          border-radius: 4px;
          color: #fff;
          i {
            color: #fff;
          }
        }
      }
    }
    .case-demo {
      padding: 50px 0 0;
    }
    .case-code {
      padding: 0 15px;
    }

    .case-demo,
    .case-code {
      display: inline-block;
      width: 48%;
      height: 100%;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      .case-code-switch {
        width: 100%;
        height: 60px;
        position: relative;
      }
      .case-code-detail {
        height: calc(100% - 60px);
        width: 100%;
        overflow-y: auto;
        position: relative;
        pre {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    .case-split {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 48%;
      border: 1px dashed #eee;
    }
  }
  .case-box.no-code {
    padding: 15px;
  }
}
