.theme-left{
    hr{
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }
    .mr-12{
        margin-right: 12px;
    }
    .no-right-radius{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .no-left-radius{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .btn-group{
        margin-bottom:12px;
    }
    .no-right-border{
        border-right: 0;
    }
}